<section id="main" class="dashboard">
<div class="columns">
    <%= render 'profile-card',  user: current_user%>
    <section class="column">
        <div id="new-tweet">
            <div class="box" id="tweet-box">
                <%= form_with model: @post, format: :json, :remote => true do |form| %>
                    <% if @post.errors.any? %>
                        <div id="error_explanation">
                        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

                        <ul>
                        <% @post.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                        </ul>
                        </div>
                    <% end %>

                    <div class="control">
                        <textarea class="textarea" placeholder="Share your thoughts!" name="content" id="content"></textarea>
                    </div>
                    <div class="field is-grouped is-grouped-right">
                        <div class="control">
                            <button class="button is-primary" type="submit">Submit</button>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <div id="posts">
        </div>
    </section>
</div>

</section>
<%= javascript_include_tag '/javascripts/pages__dashboard', defer: true %>
