<section class="column is-one-quarter">
    <div class="box">
        <% unless user.nil? %>
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <figure class="image">
                            <% if user.profile_picture.attached? %>
                                <div class="profile-image main-profile-image" style="background-image: url(<%= url_for(user.profile_picture)%>);"></div>
                            <% else %>
                                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image" class="is-rounded">
                            <% end %>
                        </figure>
                        <article class="media">
                            <a class="media-left" href="/u/<%= user.username %>" target="_blank">
                                <strong><%= user.fullname %></strong>
                                <br>
                                <small>@<%= user.username %></small>
                                <br>
                            </a>
                            <% if current_user != user %>
                                <% if current_user %>
                                <form action="/follow">
                                    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                                    <input name="user_id" value="<%= user.id %>" type="hidden">
                                    <button type="submit" class="button is-primary media-right" id="follow_button">
                                        <% if current_user.followees.exists?(user.id) %>
                                            <%= 'Unfollow' %>
                                        <% else %>
                                            <%= 'Follow' %>
                                        <% end %>
                                    </button>
                                </form>
                                <% end %>
                            <% else %>
                                <a href="/profile/edit">Edit Profile</a>
                            <% end %>
                        </article>
                    </div>
                </div>
            </article>
        <% end %>

        <article class="media">
            <article class="media-left">
                <h3>Following</h3>
                <span><%= user.followees.size %></span>
        </article>
            <article class="media-right">
                <h3>Followers</h3>
                <span><%= user.followers.size %></span>
            </article>
        </article>
    </div>
</section>
