<section id="main" class="home auth">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="tagline">
      <span>Be part of a growing, like-minded community.</span>
      <h1>Your community</h1>
    </div>
    <label for="username" required>Username</label><br/>
    <input name="username" id="username">
    <label for="password">Password</label><br/>
    <input name="password" id="password" type="password" required minlength="6">
    <label for="password_conf">Re-type Password</label><br/>
    <input name="password_conf" id="password_conf" type="password" required minlength="6">
    <div class="button-area">
      <button id="registration_submit_button" type="submit">REGISTER</button>
    </div>
  <%end%>
</section>
<%= javascript_include_tag '/javascripts/pages__home', defer: true %>
