<section id="main" class="profile-edit">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <div class="box">
                <h2 class="is-size-5">Edit your profile</h2><br>
                <form action="" method="post">
                        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Full name</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                            <p class="control">
                                <input class="input" type="text" name="fullname" id="fullname" placeholder="Your full name here" value="<%= current_user.fullname %>">
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Profile Picture</label>
                        </div>
                        <div class="file has-name is-fullwidth field-body">
                            <label class="file-label">
                                <input class="file-input" type="file" name="profile_picture" id="profile_picture">
                                <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Choose a file…
                                </span>
                                </span>
                                <span class="file-name">
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-right">
                        <div class="control">
                            <button class="button is-primary" type="submit">Save</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
<%= javascript_include_tag '/javascripts/pages__edit_profile', defer: true %>
