<section id="main" class="login auth">
  <%= form_for resource, url: session_path(:user), remote: true do |f| %>
    <h2 class="is-size-2">Login</h2>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <label for="username" required>Username</label><br/>
    <input name="username" id="username">
    <label for="password">Password</label><br/>
    <input name="password" id="password" type="password" required>
    <div class="button-area">
      <button type="submit">LOG IN</button>
    </div>
  <%end%>
</section>
