<section id="main" class="dashboard">
<div class="columns">
    <%= render 'profile-card',  user: @profile_user %>
    <section class="column">
        <div id="posts">
        </div>
    </section>
</div>

</section>
<%= javascript_include_tag '/javascripts/pages__profile', defer: true %>
