// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

#home-link {

    white-space: nowrap;

    #logo {
        height: 100%;
    }

    span {
        vertical-align: top;
    }
}


section#main {
    flex-grow: 1;

    &.auth {
        background-repeat: none;
        background-size: cover;

        form {
            background: #fff;
            top: 50%;
            transform: translateY(-50%);
            width: 30%;
            min-width: 560px;
            position: relative;
            left: 50px;
            border-radius: 30px;
            padding: 30px 25px;

            .tagline {
                color: $main-color;
            }

            h1 {
                font-size: 48px;
                font-weight: 600;
            }

            label {
                font-weight: 400;
                font-size: 24px;
            }

            input,
            textarea {
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
                background: #DDDD;
                border: none;
                margin: 8px 0;
            }

            .button-area {
                width: 100%;
                display: flex;
                flex-direction: row-reverse;
            }

            button {
                border: none;
                background: $main-color;
                padding: 8px 16px;
                font-size: 16px;
                color: #fff;
                text-align: right;
                border-radius: 10px;
                cursor: pointer;
                transition: .2s;
                border: 1px solid $main-color;

                &:hover {
                    background: none;
                    color: $main-color;
                }
            }
        }

        &.login {
            background-image: url('/images/stockmillenials.jpg');
        }

        &.home {
            background-image: url('/images/boomers-laughing.jpg');
        }
    }


    &.dashboard {
        .columns .column {
            padding: 30px;
        }


        #tweet-box {
            background-color: #BF6D9C;

            .control:not(:last-child) {
                margin-bottom: 10px;
            }

            textarea {
                background-color: #F0CCE1;
            }

            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        #posts {

            .box {
                margin-bottom: 0;

                &:not(:last-child) {
                    border-bottom: 1px solid black;
                    border-radius: 0;
                }
            }
        }

    }

    &.profile-edit {
        .columns {
            height: 100%;
        }

        .box {
            position: relative;
            top: 25%;
        }
    }

    .profile-image {
        border-radius: 50%;
    }
}

.button {

    &.is-primary {
        background-color: $button-is-primary-color;
        transition: .2s;

        &:hover {
            background-color: darken($color: $button-is-primary-color, $amount: 10);
        }
    }

}

.profile-image {
    width: 64px;
    height: 64px;

    &.main-profile-image {
        width: 128px;
        height: 128px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

a {
    color: $main-color;
}