@font-face {
    font-family: 'Bebas';
    src: url('/fonts/Bebas-Regular.ttf')
}

:root {
    --header-height: 75px;
}

html,
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    // font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background: #9E005D;
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
        line-height: var(--header-height);
        color: #fff;
        margin: 0 20px;
        text-decoration: none;

        &#home-link {
            font-size: 48px;
            font-family: 'Bebas', Arial, Helvetica, sans-serif;
            letter-spacing: 10px;
        }
    }
}