<!DOCTYPE html>
<html>
  <head>
    <title>Juno</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="/images/logo.svg" />
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" rel="stylesheet"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '/application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_include_tag '/javascripts/post-helpers.js', defer: true %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="/" id="home-link">
            <img src="/images/logo.svg" alt="Juno logo" id="logo"><span>JUNO</span>
      </a>
      <% if user_signed_in? %> 
          <a href="/explore">Explore</a>
          <%= link_to "Log out", destroy_user_session_path %>
      <% else %>
        <a href="/login">Login</a>
      <% end %>
    </header>

    <%= yield %>
    </body>
</html>
